.button {
    -fx-font-weight: bold;
}

.root {
    
}

.layoutcanvas {
    -fx-padding: 10;
    -fx-border-style: solid inside; 
    -fx-border-width: 2;
    -fx-border-insets: 5; 
    -fx-border-radius: 5; 
    -fx-border-color: blue;
}